<%= form_for @user, :html => {:multipart => true} do |t| %>
  <%= t.label :name %>
  <%= t.text_field :name %>
  <%= t.label :email %>
  <%= t.text_field :email %>
  <%= t.label :password %>
  <%= t.password_field :password %>
  <%= t.label :password_confirmation %>
  <%= t.password_field :password_confirmation %>

    <label>My photo</label>
    <%= image_tag(@user.photo.thumb) if @user.photo? %>
    <%= t.file_field :photo %>
    <%= t.hidden_field :photo_cache %>
    <%= t.text_field :remote_photo_url %>
  <%= t.submit %>
<% end %>
