<h1>My Profile - <%= @authenticated_user.name %></h1>
<hr>
<h3>Pending Requests</h3>
<h3><%= "You have no pending requests." if @requests.empty? %></h3>
<ul>
<% @requests.each do |r| %>
<li class='requests'>  <%= link_to image_tag(r.exchange.photo), r.exchange %>

    <i class="icon-plus"></i><%= link_to r.exchange.name, r.exchange %> <br>
    <i class="icon-user"></i><%= link_to User.find(r.buyer_id).name, User.find(r.buyer_id) %> <br>
    <i class="icon-minus"></i><%= link_to r.product.name, r.product %>
  <%= form_tag '/action', :remote => true do %>
    <%= hidden_field_tag :request, r.id %>
    <%= submit_tag 'accept', :class => 'btn-success' %>
    <%= submit_tag 'reject', :class => 'btn-danger' %>
    </li>
  <% end %>
<% end %>
</ul>
<div class='clear'></div>
<h3>My Products</h3>
<%= render :partial => 'products/display', :locals => {:products => Product.where(:user_id => @authenticated_user.id).page(params[:page])} %>