<h1>My profile</h1>
<h3><%= @authenticated_user.name %></h3>

<hr>
<h3>Pending Requests</h3>
  <h3><%= "You have no pending requests." if @requests.empty? %></h3>


<br>
<ul>
<% @requests.each do |r| %>
  <li><%= link_to r.exchange.name, r.exchange %> by <%= link_to User.find(r.buyer_id).name, User.find(r.buyer_id) %> for <%= link_to r.product.name, r.product %></li>
  <%= form_tag '/action', :remote => true do %>
    <%= hidden_field_tag :request, r.id %>
    <%= submit_tag 'accept' %>
    <%= submit_tag 'reject' %>
  <% end %>

<% end %>
</ul>

<h3>My Products</h3>
<%= render :partial => 'products/display', :locals => {:products => Product.where(:user_id => @authenticated_user.id).page(params[:page])} %>

