<h1><%= @product.name %></h1>
<h2>Owned by <%= link_to @product.user.name, user_path(@product.user) %></h2>
<h3><%= @product.description %></h3>
<%= image_tag(@product.photo.thumb) if @product.photo? %>


<!-- BARTER BUTTON -->
<%= form_tag barter_product_path, :id => 'barterbutton',:method => :get, :remote => true do %>
  <%= submit_tag 'Barter', :class => 'btn btn-success' %>
<% end %>
<!-- Ajax dropdown menu for bartering -->
<%= @authenticated_user.name %>


<%= form_tag do %>
    <%= select_tag :exchange_id, options_for_select(@authenticated_user.products, @authenticated_user.products.name, "1") %>
    <%= submit_tag 'go' %>
<% end %>

<br><br><br><br>

<%= link_to "Edit product", edit_product_path(@product) %>
<br>

<%= link_to "Delete product", product_path(@product), :method => :delete, :confirm => "Are you sure?" %>