<div class='user_products'>
  <li><%= image_tag(@product.photo.thumb) if @product.photo? %>
  <%= @product.name %><br>
  Owner: <%= link_to @product.user.name, user_path(@product.user) %><br>
  <%= @product.description %></li>
</div>


<!-- BARTER BUTTON -->
<% if !(@authenticated_user == @product.user) %>
  <%= form_tag barter_product_path, :id => 'barterbutton',:method => :get, :remote => true do %>
    <%= select_tag :exchange_id, options_from_collection_for_select(@authenticated_user.products, "id", "name") %>
    <%= submit_tag 'Barter', :class => 'btn btn-success' %>
  <% end %>
<% end %>

<%= link_to "Edit product", edit_product_path(@product) if @authenticated_user.id == @product.user_id %>
<br>

<%= link_to "Delete product", product_path(@product), :method => :delete, :confirm => "Are you sure?" if @authenticated_user.id == @product.user_id %>
